.dropdown {
  border: 1px solid var(--input-border-color);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  width: 100%;
  height: 2rem;

  font-size: 1.2rem;
  font-weight: 300;

  background: var(--input-background-color);

  outline: none;
}

.dropdownWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  width: 100%;

  .label {
    padding-left: 0.25rem;
    font-size: 0.85rem;
    font-weight: 200;
    color: var(--text-color-primary);
  }
}
