.currentWeather {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5rem;

  background-color: var(--card-background-color-primary);

  padding: 0.75rem;
  border-radius: 1rem;

  width: 100%;
}

.widgetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.75rem;
  border-radius: 0.5rem;

  background: var(--card-background-color-secondary);

  img {
    width: 3rem;
    height: 3rem;
    box-shadow: 0 0 8px #f9426d;
    filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(4650%)
      hue-rotate(322deg) brightness(99%) contrast(96%);
  }
}

.dailyWeather {
  align-items: flex-start;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;

  .widgetStatus {
    width: 5rem;
    height: 5rem;
  }

  .widgetTemp {
    font-size: 1.25rem;
    font-weight: 600;

    span {
      font-size: 1rem;
      font-weight: 200;
    }
  }

  .widgetLocation {
    font-size: 1rem;
    font-weight: 200;
  }
}

.windSpeed {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sunset {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
}

.pressure {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;

  font-size: 2rem;
}
