.currentWeather {
  display: grid;
  grid-template-columns: 1.75fr 1.37fr 1.37fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.widgetIcon {
  font-size: 2rem;
  color: var(--highlight-color-primary);
  filter: var(--highlight-filter-primary);
}

.dailyWeather {
  align-items: flex-start;

  grid-column: 1 / span 1;
  grid-row: 1 / span 3;

  .widgetIcon {
    width: 6rem;
  }

  .widgetTemp {
    font-size: 1.25rem;
    font-weight: 600;

    span {
      font-size: 1rem;
      font-weight: 200;
    }
  }

  .widgetLocation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    font-size: 1rem;
    font-weight: 200;
  }
}

.windSpeed {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.sunset {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.pressure {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;

  font-size: 2rem;

  span {
    font-size: 1.5rem;
    font-weight: 200;
  }
}
