.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 0.5rem;

  outline: none;

  background-color: var(--input-background-color);
}

.inputWithLabel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;

  width: 100%;

  .label {
    padding-left: 0.25rem;
    font-size: 0.85rem;
    font-weight: 200;
    color: var(--text-color-primary);
  }
}
