.humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: var(--card-background-color-primary);

  padding: 0.75rem;
  border-radius: 1.5rem;

  width: 100%;
}

.widgetBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  flex: 1;

  padding: 0.75rem;
  border-radius: 1rem;

  background: var(--card-background-color-secondary);

  .widgetStatus {
    font-size: 2rem;
    color: #f9426d;
    filter: brightness(0) saturate(100%) invert(42%) sepia(93%) saturate(4650%)
      hue-rotate(322deg) brightness(99%) contrast(96%);
  }
}
