.humidity {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.humidityBox,
.dewBox {
  flex: 1;
}

.widgetValue {
  font-size: 2rem;
  color: var(--highlight-color-primary);
}
