:root {
  --global-background-color: #161616;
  --global-font-color: #ededed;

  --card-background-color-primary: #010101;
  --card-background-color-secondary: #141414;

  --input-background-color: #1e1e1e;
  --input-border-color: #262626;
  --input-selected-color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    --global-background-color: ##fbfbfb;
    --global-font-color: #213547;

    --card-background-color-primary: #e1e4ea;
    --card-background-color-secondary: #edeff2;

    --input-background-color: #f9fafb;
    --input-border-color: #ececec;
    --input-selected-color: #213547;
  }
}

.themeProvider {
  &.hotpink {
    --highlight-color-primary: #f9426d;
    --highlight-filter-primary: brightness(0) saturate(100%) invert(42%) sepia(93%)
      saturate(4650%) hue-rotate(322deg) brightness(99%) contrast(96%);
  }

  &.limegreen {
    --highlight-color-primary: #c7ff06;
    --highlight-filter-primary: brightness(0) saturate(100%) invert(90%) sepia(71%)
      saturate(1902%) hue-rotate(19deg) brightness(111%) contrast(103%);
  }

  &.sunyellow {
    --highlight-color-primary: #f6c602;
    --highlight-filter-primary: brightness(0) saturate(100%) invert(77%) sepia(28%)
      saturate(1977%) hue-rotate(3deg) brightness(101%) contrast(99%);
  }

  &.skyblue {
    --highlight-color-primary: #86c7e6;
    --highlight-filter-primary: brightness(0) saturate(100%) invert(82%) sepia(5%)
      saturate(3271%) hue-rotate(168deg) brightness(93%) contrast(93%);
  }

  &.grapepurple {
    --highlight-color-primary: #7150c4;
    --highlight-filter-primary: brightness(0) saturate(100%) invert(35%) sepia(41%)
      saturate(1906%) hue-rotate(230deg) brightness(88%) contrast(85%);
  }

  &.cloudgrey {
    --highlight-color-primary: #eaeaea;
    --highlight-filter-primary: brightness(0) saturate(100%) invert(100%) sepia(5%)
      saturate(7%) hue-rotate(60deg) brightness(116%) contrast(84%);
  }
}
