.card {
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 100%;

  background-color: var(--card-background-color-primary);
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.75rem;
  border-radius: 1rem;

  background: var(--card-background-color-secondary);
}
