.card {
  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 100%;

  background-color: var(--card-background-color-primary);
}

.cardWithTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;

  padding: 0.75rem;
  border-radius: 1.5rem;
  width: 100%;

  background-color: var(--card-background-color-primary);

  .cardTitle {
    font-size: 1rem;
    font-weight: 200;
    color: var(--text-color-primary);

    padding-left: 0.5rem;
    padding-top: 0.5rem;
  }

  .cardContent {
    height: 100%;
    width: 100%;
  }
}

.cardBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.75rem;
  border-radius: 1rem;

  background: var(--card-background-color-secondary);
}
