.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  width: 100%;

  padding: 0.5rem 0.75rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.icon {
  font-size: 2rem;
  cursor: pointer;

  &:hover {
    filter: var(--highlight-filter-primary);
  }
}
