.hourlyWeather {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.widgetIcon {
  width: 2rem;
  color: var(--highlight-color-primary);
  filter: var(--highlight-filter-primary);
}

.widgetDate {
  font-size: 0.75rem;
  font-weight: 200;
}

.widgetTemp {
  font-size: 1rem;
  font-weight: 600;
}
