.errorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--text-color-primary);
  }
}

.internalCodeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  padding-top: 2rem;
  justify-self: flex-end;

  .internalCode {
    font-size: 0.75rem;
    font-weight: 200;
  }
}
