.uvIndex {
  display: grid;
  grid-template-columns: 1.75fr 1.37fr 1.37fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;

  background-color: var(--card-background-color-primary);
}

.widgetBox {
  flex-direction: row;
}

.widgetIcon {
  font-size: 2.75rem;
  filter: var(--highlight-filter-primary);
}

.widgetStatus {
  font-size: 2rem;
  color: var(--highlight-color-primary);
}

.subWidgetBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.25rem;
}

.uvIndexWidgetBox {
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;

  .widgetIcon {
    font-size: 4.5rem;
  }

  .uvIndexValue {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    .widgetStatus {
      font-size: 2rem;
      font-weight: 600;
    }

    .widgetLabel {
      font-size: 1.5rem;
      font-weight: 200;
    }
  }
}

.heatIndexWidgetBox {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.cloudsWidgetBox {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
}

.precipitationWidgetBox {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
}
